<section id="rentalListing">
    <h1 class="page-title">Results on your search: [{{searchTerm}}]</h1>
    <div *ngIf="errors.length>0">
        <p class="alert alert-warning"
        *ngFor="let error of errors">
            {{error.title}} : {{error.detail}}
        </p>
    </div>
    <div class="row">
        <div class='col-md-3 col-xs-6' *ngFor="let rentalItem of rentalItems; let i = index">
            <bwm-rental-list-item [rentalItemToShow]="rentalItem"></bwm-rental-list-item>
        </div>

    </div>
</section>