<section id="myRentals">
    <h1 class="page-title">My Rentals</h1>
    <div class="row">
        <!-- Check for rentals length -->
        <ng-container *ngIf="myRentalItems && myRentalItems.length>0">
            <!-- Iterate Rentals -->
            <div class='col-md-3 col-xs-6' *ngFor="let myRentalItem of myRentalItems; let i = index">
                <!--<div class="card text-center"> -->
                    <!--<div class="card-block"> -->
                        <bwm-rental-list-item [rentalItemToShow]="myRentalItem">
                            <!--<p class="card-footer text-muted">Created on {{myRentalItem.createdAt | formatDate}}</p> -->
                            <!-- Check if bookings exist against the rental -->
                            <div class ="button-container mt-0">
                            <button (click)="rentalDeleteIndex=i; errors=[]"
                                *ngIf="rentalDeleteIndex!==i" 
                                type="button"
                                class="btn btn-danger">
                                Delete
                            </button> 
                            <a 
                                class="btn bwm-btn-main ml-1"
                                routerLink ="/rentals/{{myRentalItem._id}}/edit">
                                Edit
                            </a>
                            </div>
                            <!-- Delete Rental Button -->
                            <div *ngIf="rentalDeleteIndex === i">
                                <p class="confirm-warning">Are you sure you want to delete? </p>
                                <button (click)="deleteRentalItem(myRentalItem._id)" class="btn btn-success">Yes</button>
                                <button (click)="rentalDeleteIndex=undefined" class="btn btn-danger">No</button>
                            </div>
                        </bwm-rental-list-item>
                    <!--</div>-->
                <!--</div> -->
            </div>
        </ng-container>
        <div *ngIf="myRentalItems && myRentalItems.length===0" class="col-md-8">
            <!-- Check if rentals length === 0 -->
            <div class="alert alert-warning">
                You dont have any rentals currenty created. If you want advertised your property
                please follow this link.
                <a class="btn btn-bwm" routerLink="/rentals/new">Register Rental</a> <!-- Link to rentals/new -->
            </div>
        </div>
    </div>
</section>


